[project]
	description = c++ course apps
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/oneacik
[access "refs/for/refs/*"]
	read = group user/oneacik
	push = group user/oneacik
	label-Code-Review = -2..+2 group user/oneacik
	label-Verified = -1..+1 group user/oneacik
	rebase = group user/oneacik
	removeReviewer = group user/oneacik
	submit = group user/oneacik
[access "refs/heads/*"]
	read = group user/oneacik
	create = group user/oneacik
	push = +force group user/oneacik
	pushMerge = group user/oneacik
[access "refs/tags/*"]
	push = group user/oneacik
	push = +force group user/oneacik
